.icon-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 1.5rem;
    margin-bottom: 3rem;
    padding-left: 10rem;
}

.icon-container .icons{
    display: flex;
    align-items:center;
    gap: 1.5rem;
    padding: 4rem 0;
}

.icon-container .icons i{
    font-size: 2.5rem;
    color:#d6000e8a
}

.icon-container .icons h3{
    font-size: 1.5rem;
    color: #000000;
    padding-bottom: .5rem;
}

.icon-container .icons p{
    font-size: 1rem;
    color: #6a8da0;
    padding-bottom: .5rem;
}
